body {
    background-image: url("https://source.unsplash.com/random");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
    filter: blur(10px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
