body {
    background-image: url("https://unsplash.it/200/300/?blur");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
    filter: blur(10px);
}
